html {
  background: linear-gradient(to bottom, #7095f1, #7ce7fc);
}
html {
  font-size: 62.5%;
  height: 100%;
  display: flex;
}
body {
  width: 100%;
  margin: auto;
}
.card-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  max-width: 400px;
  height: 150px;
  margin: auto;
  position: relative;
}
.card {
  flex-grow: 1;
  display: block;
  padding: 0.5em;
  background: #FFF;
  border-radius: 0.25em;
  font-size: 4rem;
  position: relative;
  margin: 0.1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.8s, 0.6s;
  transition-property: flex-grow, opacity;
  transition-timing-function: cubic-bezier(0.98, 0, 0.22, 0.98), ease-in-out;
}
.card:before,
.card:after {
  content: '';
  display: block;
  border: solid 2px #64D6EE;
  visibility: visible;
}
.card:before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 50%;
  width: 0.25em;
  height: 0.25em;
}
.card:after {
  width: 100%;
  transform-origin: 0 0;
  transform: scaleX(0.2);
  transition: inherit;
  transition-property: transform, opacity;
}
.card-input {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}
.card__label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  transform-origin: left bottom;
  transform: scale(0.7);
  transition: inherit;
  transition-property: transform, opacity;
}
.card__label sub {
  margin-left: 0.25em;
  font-size: 0.4em;
  display: inline-block;
  vertical-align: 0.3em;
}
.card-input:checked + .card {
  flex-grow: 4;
  opacity: 1;
}
.card-input:checked + .card::after {
  transform: scaleX(1);
}
.card-input:checked + .card::before {
  background: #64D6EE;
}
.card-input:checked + .card .card__label {
  transform: scale(1);
}
